body, h1, p, header, main, nav, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1001;
    background-color: #fff;
}

header h1 {
    color: #333; /* Dark gray text color for the header */
    font-size: 2em;
    margin: 0;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
    color: #333; /* Dark gray text color for navigation links */
}

nav a:visited {
    color: #333; /* Slightly lighter gray color for visited links */
}

nav a:hover {
    color: gray; /* Light Green on hover for navigation links */
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: #fff;
}

body {
    background-color: #fff; /* Light Green background color */
    padding-top: 50px;
    color: #333333; /* Dark Gray text color */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    row-gap: 12px;
    
}

body section.hero-section {
    padding: 20px;
    margin: 0;
}

section h2.hero-section-title {
    color: #333; /* Black text color for section titles */
    font-size: 180px;
    z-index: 1000;
}

body strong.hero-section-text-bold {
     
    font-size: larger;
    display: inline-block;
    background: red; /* Adjust colors as needed */
    
    
}

body img.hero-section-imgs {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
body img.portfolio-section-imgs {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

button {
    background-color: #42A5F5; /* Sky Blue */
    color: #fff; /* White text color for buttons */
}
